:root {
  --font-size: 18px;
  --spacing-default: 3rem;
  --color-primary: #f07167;
  --color-contrast: #00afb9;
  --color-background: #f5f5f5;
  --color-white: #ffffff;
  --color-text: #0a2540;

  font-size: var(--font-size);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--color-contrast);
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--color-text);
}

.section {
  padding: 6rem 1rem;
}

.section.is-grey {
  background-color: var(--color-background);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container__title {
  text-align: center;
  margin-bottom: 3rem;
}

.columns {
  display: flex;
  gap: var(--spacing-default);
}

.columns__column {
  flex: 1;
}

.columns__column.is-double {
  flex: 2;
}

.collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--spacing-default);
}

.card {
  background-color: var(--color-contrast);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
}

.card__image {
  display: block;
}

.card__content {
  padding: 1.5rem;
}

.card__description {
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: .5rem;
  border-width: 2px;
  border-style: solid;
}

.button + .button {
  margin-left: .5rem;
}

.button.is-main {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary); 
}

.button.is-secondary {
  border-color: 2px solid var(--color-primary);
  background-color: transparent; 
  color: var(--color-primary);
}

.button.is-small {
  padding: .5rem 1rem;
  font-size: .8rem;
}